.slideshow {
  max-height: 600px;
  width: 600px;
  overflow: hidden;
}

.slideshow__checkinputs {
}

.slideshow__slides {
  background-color: $light-gray;
  display: flex;
  height: 100%;
  width: 500%;
}

.slideshow__slide {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20%;
  height: 600px;
  max-height: 600px;
  transition: 0.6s;
}

.slideshow__img {
  display: block;
  margin: auto;
  width: 100%;
}

.slideshow__buttons {
  bottom: 20px;
  display: flex;
  left: 50%;
  position: absolute;
  transform: translate(-50%, 0);
}

.slideshow__bar {
  border: 2px solid white;
  cursor: pointer;
  height: 0.75rem;
  margin: 0.5rem;
  width: 4rem;

  &:hover {
    background-color: white;
  }
}

.slideshow__input {
  visibility: hidden;
}

.s0 {
  margin-left: 0%;
}

.s1 {
  margin-left: -20%;
}

.s2 {
  margin-left: -40%;
}

.s3 {
  margin-left: -60%;
}

.s4 {
  margin-left: -80%;
}

.slideshow__bar--checked {
  background-color: white;
}
