.stock {
}

.stocks__container {
  align-items: center;
  background-color: $white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 500px;
  width: 500px;
}

.stocks__paragraph {
  text-align: center;
  font-size: $m-size;
  line-height: 2.5rem;
}

.stocks__sub-container {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}

.stock__container {
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 30%;
}

.stock__logo {
  height: 10rem;
  width: 10rem;
}

.stock__text {
  font-size: $l-size;
  margin: 0;
  padding: 0;
  transition: 0.5s ease;
}

.stock__text--gray {
  color: $light-gray;
}

.stock__text--green {
  color: green;
}

.stock__text--red {
  color: red;
}

.stock__text--white {
  color: $white;
}

.stock__text--transition {
  transition: unset;
}
