.svg {
  @extend .button;
  background-color: $white;
  border-radius: 6rem;
  border: 7px solid $dark-blue;
  height: 11rem;
  width: 11rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.svg__img {
  height: 7.5rem;
  width: 7.5rem;
}
